<h1 class="midText">Seleccione una de las siguientes opciones</h1>
<br>
<div class="midText">
        <h3>Puede ir a las opciones de profesores, como asignar materias, agregar, <br>editar o eliminarlos entre otros </h3>
        <h3>Puedes ir a las opciones de alumnos, como asignar materias, agregar, <br>editar o eliminarlos entre otros</h3>        
        <h3>Puedes ir a las opciones de alumnos, como asignar materias, agregar, <br>editar o eliminarlos entre otros</h3>
    <div class="midText">
        <button class="btn btn3">Profesores</button>
        <button class="btn btn3">Alumnos</button>
        <button class="btn btn3">Materias</button>
    </div>
</div>