<div class="midText">
    <h1>Materia</h1><br />
    <h3>Los alumnos inscritos a esta materia son:</h3>

    <div class="list-container">
        <ul>
            <li *ngFor="let student of students" class="list-group-item items">
                <a>{{student.name}}</a>
            </li>
        </ul>
    </div>

    <div>
        <h3>Las fechas en las que se dio esta materia fueron en:</h3>
    </div>

    <div class="list-container">
        <ul>
            <li *ngFor="let date of dates" class="list-group-item items">
                <a>La materia se dio el dia: {{date.fecha}},<br /> el horario de comienzo fue a las : {{date.horaCominezo}}
                    <br/>y termino a las {{date.horaCierre}}</a>
            </li>
        </ul>
    </div>
</div>