<div class="login-page">
  <div class="form">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h1 class="fontText">ATQR</h1>
      <div class="form-group">
        <input type="number" placeholder="Nro. Documento" name="document" formControlName="username"
          class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" min="0" [(ngModel)]="document"/>
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback fontText">
          <div *ngIf="f.username.errors.required">Nro. de documento es requerido</div>
        </div>
      </div>
      <div class="form-group">
        <input type="password" placeholder="Contraseña" name="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" [(ngModel)]="password"/>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback fontText">
            <label *ngIf="f.password.errors.required">Contraseña es requirido</label>
        </div>
      </div>
      <button>Iniciar Sesión</button>
      <div class="fontText">
        <label *ngIf="errorMessage">Datos incorrectos</label>
      </div>
    </form>
  </div>
</div>