<div class="container-for-qr" *ngIf="!wasAlreadyOpened">
    <br /><h3 class="midText">¡Clase iniciada! Escanee el código QR para dar el presente:</h3> <br/>

    <div class="mid qr">
        <qr-code [value]="createdCode" [size]="300"></qr-code><br />
        <br />
        <app-simple-modal [buttonMessage]="'Terminar clase'" [title]="'¿Está seguro que desea terminar la clase?'"
            [message]="'Al terminar la clase, los alumnos que no escanearon el código QR quedarán ausentes.'"
            [buttonStyle]="'btn btn-outline-danger'" (action)="redirectToView($event)">
        </app-simple-modal>
    </div>

    <div class="mid presentStudents pre-scrollable">
        <div class="list">
            <ul>
                <li *ngFor="let pages of generatedCodes; let i=index" class="list-group-item items scale-up-center"
                    [style.background-color]="randomColor[i]" id="student{{i}}">
                    <a class="content">{{pages}} </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<app-modal-error [header]="'Ups, hubo un error al iniciar la clase'"
[errorMessage]="errorMessage" [url]="'/materiasDisponibles'" *ngIf="wasAlreadyOpened">
</app-modal-error>