.mid {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
}

.midText {
    display: block;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
}

.qr {
    width: 28%;
}

.presentStudents{
    max-width: 70%;
    min-width: 70%;
    min-height: 346px;
    border-style: solid;
    border-color: #007bff;
}

.input {
    outline: 0;
    background: #f2f2f2;
    width: 31%;
    border: 0;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    display: inline-block;
    margin-top: 2%;
}

ul {
    list-style-type: none;
}

.qrcode>img {
    width: 100%;
}

.container-for-qr {
    width: 100%;
    position: relative;
}

.simple-modal {
    position: fixed;
    right: 1%;
    bottom: 2%;
    background-color: white;
}

.items {
    float: left;
    margin: 3px;
}

.list {
    width: 95%;
}

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}