 table {
     width: 100%;
     border-collapse: collapse;
     margin: 50px auto;
 }

 /* Zebra striping */

 tr:nth-of-type(odd) {
     background: #7cc6f7;
 }

 th {
     background: #3498db;
     color: white;
     font-weight: bold;
 }

 td, th {
     padding: 10px;
     border: 1px solid #ccc;
     font-size: 18px;
     text-align: center;
     font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
 }

 .fa-file-excel, .fa-user-minus {
     color: #f92314;
 }

 .input {
     outline: 0;
     background: #f2f2f2;
     width: 31%;
     border: 0;
     padding: 15px;
     box-sizing: border-box;
     font-size: 14px;
     font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     display: inline-block;
     margin-top: 2%;
 }

 .centered {
     text-align: center;
 }
 .icon{
    margin-bottom: 4%;
    margin-top: -6%;
 }

 .btn {
     background-color: #3498db;
     border: none;
     padding: 1%;
     margin: 1%;
     cursor: pointer;
     width: 7%;
 }

 @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
     table {
         width: 100%;
     }
     /* Force table to not be like tables anymore */
     table, thead, tbody, th, td, tr {
         display: block;
     }
     /* Hide table headers (but not display: none;, for accessibility) */
     thead tr {
         position: absolute;
         top: -9999px;
         left: -9999px;
     }
     tr {
         border: 1px solid #ccc;
     }
     td {
         /* Behave  like a "row" */
         border: none;
         border-bottom: 1px solid #eee;
         position: relative;
         padding-left: 50%;
     }
     td:before {
         /* Now like a table header */
         position: absolute;
         /* Top/left values mimic padding */
         top: 6px;
         left: 6px;
         width: 45%;
         padding-right: 10px;
         white-space: nowrap;
         /* Label the data */
         content: attr(data-column);
         color: #000;
         font-weight: bold;
     }
 }