 table {
     width: 100%;
     border-collapse: collapse;
     margin: 50px auto;
     text-align: center;
 }

 .fa-file-excel, .fa-user-minus{
     color: #f92314;
 }

 .input {
     outline: 0;
     background: #f2f2f2;
     width: 31%;
     border: 0;
     padding: 15px;
     box-sizing: border-box;
     font-size: 14px;
     font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     display: inline-block;
     margin-top: 2%;
 }

 .centered {
     font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
     text-align: center;
 }

 .icon {
     margin-bottom: 4%;
     margin-top: -6%;
 }

 .btn {
     padding: 10px;
     margin: 1%;
     width: 6%;
 }

 .midText {
    font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    display: block;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 1%;
}

.midText-error {
    font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    display: block;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 1%;
}

.alert-danger{
    width: 50%;
}